body{
    background-color: black;
    
    
    
    }
    
    .container{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'
        , Arial, sans-serif;
        padding-top: 40px;
        padding-bottom: 40px;
        height: 300px;
        width: 100%;
        margin: auto;
        margin-top: 300px;
        background-color: #ffff;
        text-align: center;
        flex-direction: column;
        gap:20px ;
    }
    
    
    .errorcode{
    
        font-size: 100px;
        font-weight: bolder;
        color: rgb(44, 12, 75);
        padding-top: 40px;
        margin-bottom: -10px;
    }
    
    .errormessage1{
        font-size: 30px;
        color: rgb(44, 12, 75);
        margin-bottom: 8px;
        text-transform: capitalize;
     
    }
    
    
    
    
    
    
    
    .errormessage2{
       
        color: rgb(44, 12, 75);
        margin-bottom: 8px;
    }
    
    
    
    
        
    
    
    .btn{ 
        color: azure;
        background-color: rgb(87, 85, 180);
        border-radius: 10px;
        padding: 10px 10px;
        width: 13%;
        margin: auto;
        color: beige;
        margin-bottom: 50px;
        } 
    
    