
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,600&family=Roboto+Condensed:wght@700&family=Roboto:ital@1&display=swap');

*{

text-decoration: none;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}


body{

    width: 100%;
    background-image: url(background\ image.webp);
    background: linear-gradient(to top, rgba(0,0,0,0.5)50% rgba(0,0,0,0.5)50%), url(background\ image.webp);
    background-position: center center;
    background-size: cover;
    height: 90vh;


}


.password{

    width: 40%;
    background-color: white;
    height: 80vh;
    margin: auto;
    padding-top: 10px;
    border-radius: 10px;

}

form{

text-align: center;

}

.set-pass{

color: darkblue;

}

input{

border: none;
border-bottom: 2.5px solid lightblue;
width: 55%;
font-size: 20px;

}


input[type=password]:focus{

border-bottom: 2.5px solid lightblue;
outline: none;
font-size: 20px;

}


.box label{

margin-right: 250px;
margin-top: 40px;
padding-top: 30px;
font-size: 13px;
font-weight: bold;
color: lightblue;

}



.box2 label{

margin-right: 230px;
margin-top: 40px;
padding-top: 30px;
font-size: 13px;
font-weight: bold;
color: lightblue;

}

.box{

position: relative;

}

.first{

position: absolute;
top: 24px;
right: 120px;
font-size: 13px;

}
    
.box2{

margin-top: 35px;
position: relative;

}

.second{

position: absolute;
top: 24px;
right: 120px;
font-size: 13px;

}
    

/* this code positions the divider and gives it the appropriate length. */
.divider{
    display: flex;
    align-items: center;
    width: 350px;
    margin: auto;
    
}


.divider::before, .divider::after{
    content: "";
    padding: 1px;
    background-color:rgb(192, 192, 192);
    flex: 1px;
    margin: 30px 5px;
    
}



.complete{

margin-top: 25px;
background-color: darkblue;
width: 25%;
margin-left: 195px;
padding: 10px;
border-radius: 10px;

}

.complete:hover{

background-color: lightblue;


}



.complete a{

color: white;

}

.sign{

color: blue;

}

.sign:hover{

color: lightblue;

}


a img{

padding: 8px;

}





















