@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/* here is my logo style */

.logo img{
    width: 100px;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 50%;
}

.logo{
    overflow: hidden;
}


.menu-bar{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2a107e;
    height: 110vh;
    /* width: 20%; */
    width: 50px;
    padding: 0 25px;
    transition: all 0.5s;
    overflow: hidden;
}

.menu-bar:hover{
    width: 20%;
    transition: 0.5s;
}



body{
    display: flex;
}

ul li{
    padding: 20px;
    margin: 10px 0;

}


ul li a{
    color: #fff;
}


ul a{
    display: flex;
    gap: 20px;
}


ul i{
    font-size: 20px;
}


.sign-out{
    background-color: rgb(197, 5, 5);
   margin-top: 50px;
    border-radius: 10px;
}

ul{
    height: 80vh;
    position: relative;
    width: 70%;
}

ul li:hover{
    background-color: red;
    border-radius: 12px;
}


ul a span{
    overflow: hidden;
}


.content-main{
    background-image: url(../image/backgroud2.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


/* header style for css starts here, 
it includes profile, search bar, and welcome note */


.header-main{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 20px;
    align-items: center;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px lightgray;
}


.profile-img img{
    width: 40px;
    border-radius: 20px;
}


/* header title is here */

.header-title h1{
    color: #0c012f;
    font-size: 20px;

}

.header-title span{
    color: #0c012f;
    font-size: 15px;
    display: block;
    letter-spacing: 4px;
    padding-bottom: 5px;

}

/* profile and search start here */

.profile-info{
    display: flex;
    align-items: center;
    gap: 100px;
}

.search-box input{
    padding: 8px;
    background: transparent;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
}

.search-box{
    position: relative;
}


.search-box button{
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0c012f;
    color: #fff;
    border-radius: 5px;
    border: 1px solid grey;
   
}


.search-box button :hover{
    transform: scale(1.1);
   
}


/* my card design start from here */

.card-container{
    background-color:#fff;
    /* backdrop-filter: blur(2px); */
    margin-top: 10px;
    width: 93%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 10px 10px black;

}

.card-container h1{
    color: #0c012f;
    font-size: 20px;
    padding-bottom: 10px;

}

.card-flex{
    display: flex;
    gap: 2rem;
}

.card-student{
    background: rgb(3, 39, 47, 0.566);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 23.5%;
    height: 140px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 1px #443f3f33;
    cursor: pointer;
    
}

.card-student:hover{
    transform: translate(-5px);
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.passcode-info{
    display: flex;
    flex-direction: column;
}

.icon{
    font-size: 20px;
    background-color: #0c012f;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.dark-purple{
    background-color:purple;
}

.dark-red{
    background-color: red;
}

.dark-blue{
    background-color: dodgerblue;
}

.card-flex > .card-student:nth-child(1){

    background-color:rgb(137, 149, 149);
}

.card-flex > .card-student:nth-child(2){

    background-color:rgb(91, 86, 56, 0.895);
}

.card-flex > .card-student:nth-child(3){

    background-color:rgb(144, 93, 52, 0.9);
}

.card-flex > .card-student:nth-child(4){

    background-color:rgb(242, 207, 204, 0.92);
}

/* assigment container is here */

.assignment-container{

    background-color:#fff;
    /* backdrop-filter: blur(2px); */
    margin-top: 10px;
    width: 93%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.assignment-container h1{
    font-size: 18px;
    padding-bottom: 1rem;
}

.top-img img{
     width: 50px;
     border-radius: 50%;
}

.assignment-flex{
    display: flex;

}

.assignment-subject{
    flex: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(51, 49, 49);
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-left: 4px solid #0c012f;
}


.courses h3{
    font-size: 15px;
    padding-bottom: 5px;
    color: #0c012f;
    font-weight: bold;
}

.topic{
    font-size: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.btn-btn{
    background-color: #6ac4c7;
    padding: 7px 10px;
    border-radius: 10px;
    color: #0c012f;
    box-shadow: #2a107e 3px 5px 5px ;
}

.top-performer{
    flex: 1;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(51, 49, 49);
    align-items: center;
    border-radius: 10px;
    border-right: #0c012f solid 3px;
}

/* my course and upcoming course here */
.course-container{
    background-color:rgb(210, 241, 241);
    margin-top: 10px;
    width: 93%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 5px 8px 10px 10px black;
}
.image-u img{
    width: 80px;
    border-radius: 5px;
    align-content: center;
    margin-left: 40px;
    margin-top: 10px;
}
.imgx{
    width: 150px;
    height: 90px;
    background-color: #472d9c;
    margin-left:40px ;
    border-radius: 8px;
}

.imgc{
    width: 150px;
    height: 90px;
    background-color: #48aae2;
    margin-left:40px ;
    border-radius: 8px;
}

.imgb{
    width: 150px;
    height: 90px;
    background-color: #aae665;
    margin-left:40px ;
    border-radius: 8px;
} 


.image-u img :nth-child(1){
    background-color: darkblue;
}

.courseflex{
    display: flex;
}

.my-course{
    flex: 2;
    display: flex;
    height: 8px;
    width: 40%;
    justify-content: space-between;
    border-radius: 10px;
}

.begin{
    display: flex;
    justify-content: space-between;
}

.begin h2{
    font-size: 18px;
    margin-bottom: 10px;
    color: #0c012f;
}

.begin h5{
    font-size: 10px;
    color: #0c012f;

}

.course-container .courseflex .my-course .course-card{
    width: 33%;
    box-shadow: #0c012f 2px solid;
    background-color: rgb(233, 225, 225);
    height: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 1px #443f3f33;
    cursor: pointer;
}
.course-container .courseflex .my-course .share-course{
    font-size: 11px;
    margin-left: 10px;
}

.course-container .courseflex .my-course .course-card .nob{
    display: flex;
    gap: 40px;
    margin-left: 10px;

}

.course-container .courseflex .my-course .course-card .btn-n{
    background-color: rgb(41, 41, 126);
    width: 150px;
    padding: 8px;
    margin-left: 30px;
    text-align: center;
    border-radius: 10px;
}


.course-container .courseflex .my-course .course-card .btn-n a{
    color: #fff;
}



.upcoming-course{
    flex: 1;
    background-color:lightcyan;
    
}
.upcoming-course .upcoming{
    margin-top: 5px;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.upcoming-course .upcoming .head{
    display: flex;
    justify-content: space-between;
}

.upcoming-course .upcoming .head h2{
    font-size: 18px;
}

.upcoming-course .upcoming .head h4{
    font-size: 10px;
}

.upcoming-course .eji h1{
    font-size: 15px;
    margin-bottom: 10px;
}

.img1 img{
    width: 30px;
    border-radius: 5px;
}

.upcoming-course .upcoming .coming{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.upcoming-course .upcoming .coming .upcoming-top{
    border-radius: 10px;
    background-color: rgb(228, 218, 218);
    height: 120px;
    border-left: 2px solid #21e25b;
    gap:20px ;
    margin-left: 10px;
    justify-content: space-around;
    box-shadow: 3px 3px 4px 2px #242327;
}

.upcoming-course .upcoming .coming .upcoming-top1{
    border-radius: 10px;
    background-color: rgb(228, 218, 218);
    height: 120px;
    border-left: 4px solid rgb(238, 146, 9);
    margin-top: 5px;
    margin-left: 10px;
    justify-content: space-around;
    box-shadow: 3px 3px 4px 2px #242327;
}

.upcoming-course .upcoming .coming .upcoming-top1 .date{
    margin-top: 10px;
    margin-left:10px ;
    margin-bottom: 5px;
    font-size: 15px;
}


.upcoming-course .upcoming .coming .upcoming-top1 .img1{
    margin-top: 10px;
    margin-left: 10px;
}
.upcoming-course .upcoming .coming .upcoming-top .date{
    margin-top: 10px;
    margin-left:10px ;
    margin-bottom: 5px;
    font-size: 15px;
}

.upcoming-course .upcoming .coming .upcoming-top .img1{
    margin-top: 10px;
    margin-left: 10px;
}










/* .content h1{
    margin-top: 150px;
    font-size: 25px;
    background-color: #0c012f;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;

} */

